

<%- include('blocks/banner.ejs') %>
<%- include('blocks/featured-post.ejs') %>

<section class="section-sm">
  <div class="container">
    <div class="columns is-multiline is-desktop is-justify-content-center">
      <%- include('blocks/post-list.ejs') %>
      <%- include('blocks/sidebar.ejs') %>
    </div>
  </div>
</section>

 